<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Foglalások' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container sticky-top">
                <table class="table" id="jarat-info">
                    <thead class="table-dark">
                        <tr>
                            <th>Honnan</th>
                            <th>Hova</th>
                            <th>Óra</th>
                            <th>Jegyár</th>
                            <th>Vonat típusa</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr>
                            <td>
                                <%= jarat.Honnan %>
                            </td>
                            <td>
                                <%= jarat.Hova %>
                            </td>
                            <td>
                                <%= jarat.Ora %>
                            </td>
                            <td>
                                <%= jarat.JegyAr %>
                            </td>
                            <td>
                                <%= jarat.VonatTipus %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% if (message) { %>
                <div class="error">
                    <%= message %>
                </div>
                <% } %>
                    <% if (foglalasok.length) { %>
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Foglalás ID</th>
                                    <th>Foglaló neve</th>
                                    <th>Dátum</th>
                                </tr>
                            </thead>
                            <tbody class="table-light">

                                <% foglalasok.forEach((foglalas)=> { %>
                                    <tr id="base-info" data-foglalas-id="<%= foglalas.FoglalasID %>">
                                        <td>
                                            <%= foglalas.FoglalasID %>
                                        </td>
                                        <td>
                                            <%= foglalas.Nev %>
                                        </td>
                                        <td>
                                            <%= foglalas.Datum %>
                                        </td>
                                        <td>
                                            <button class="foglalas-torles">Törlés</button>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <p class="empty">Nincsenek foglalások</p>
                            <% } %>
                                <form action="/foglalas/<%= jarat.JaratID%>" method="POST" id="foglalas-form"
                                    class="bg-light align-items-center p-4" enctype="application/x-www-form-urlencoded">
                                    <div class="row mb-2">
                                        Dátum: <input type="date" name="datum" id="datum" min="<%=kezdDatum%>" step="7"
                                            required>
                                    </div>
                                    <div class="row mt-2">
                                        <button class="btn btn-primary" type="submit">Foglalás</button>
                                    </div>
                                </form>
                                <%- include('partials/footer.ejs') %>

                                    <script src="/delete-foglalas.js"></script>
    </body>

</html>