<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Foglalások' }) %>
    <script src="/delete-foglalas.js"></script>

    <body>
        <%- include('partials/navbar.ejs') %>
            <% if (message) { %>
                <div class="error">
                    <%= message %>
                </div>
                <% } %>
                    <% if (foglalasok.length) { %>
                        <table>
                            <tr>
                                <th>Foglalás ID</th>
                                <th>Foglaló neve</th>
                                <th>Honnan</th>
                                <th>Hova</th>
                                <th>Dátum</th>
                                <th>Óra</th>
                                <th>Jegyár</th>
                                <th>Vonat típusa</th>
                            </tr>
                            <% foglalasok.forEach((foglalas)=> { %>
                                <tr id="base-info" data-foglalas-id="<%= foglalas.FoglalasID %>">
                                    <td>
                                        <%= foglalas.FoglalasID %>
                                    </td>
                                    <td>
                                        <%= foglalas.Nev %>
                                    </td>
                                    <td>
                                        <%= foglalas.Honnan %>
                                    </td>
                                    <td>
                                        <%= foglalas.Hova %>
                                    </td>
                                    <td>
                                        <%= foglalas.Datum %>
                                    </td>
                                    <td>
                                        <%= foglalas.Ora %>
                                    </td>
                                    <td>
                                        <%= foglalas.JegyAr %>
                                    </td>
                                    <td>
                                        <%= foglalas.VonatTipus %>
                                    </td>
                                    <td>
                                        <button class="foglalas-torles">Törlés</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                        <% } else { %>
                            <p class="empty">Nincsenek foglalások</p>
                            <% } %>
                                <form action="/foglalas/<%= jaratID%>" method="POST" id="foglalas-form" class="forms"
                                    enctype="application/x-www-form-urlencoded">
                                    Dátum: <input type="date" name="datum" id="datum" required>
                                    <button type="submit">Foglalás</button>
                                </form>
                                <%- include('partials/footer.ejs') %>
    </body>

</html>