<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Járatok' }) %>

    <script src="/show-details.js"></script>

    <body>
        <%- include('partials/navbar.ejs') %>
            <form action="/" method="POST" id="kereses-form" class="forms" enctype="application/x-www-form-urlencoded">
                Kiindulópont: <input type="text" name="kiindulopont" id="kiindulopont">
                <br><br>
                Célpont: <input type="text" name="celpont" id="celpont">
                <br><br>
                Minimum ár: <input type="number" min="0" name="min_ar" id="min_ar">
                <br><br>
                Maximum ár: <input type="number" min="0" name="max_ar" id="max_ar">
                <br><br>
                <button type="submit">Keresés</button>
            </form>
            <a href="/felvezetes" id="felvezetes-button">Új járat felvezetése</a>
            <% if (jaratok.length) { %>
                <table id="jaratok-table">
                    <tr>
                        <th>Jarat ID</th>
                        <th>Honnan</th>
                        <th>Hova</th>
                        <th>Nap</th>
                        <th>Ora</th>
                    </tr>
                    <% jaratok.forEach((jarat)=> { %>
                        <tr class="base-info" data-id="<%= jarat.JaratID %>">
                            <td>
                                <%= jarat.JaratID %>
                            </td>
                            <td>
                                <%= jarat.Honnan %>
                            </td>
                            <td>
                                <%= jarat.Hova %>
                            </td>
                            <td>
                                <%= jarat.Nap %>
                            </td>
                            <td>
                                <%= jarat.Ora %>
                            </td>
                            <% if (typeof username !=='undefined' ) { %>
                                <td>
                                    <a href="/foglalas/<%= jarat.JaratID%>" id="foglalas-button">Foglalás</a>
                                </td>
                                <% } %>
                        </tr>
                        <tr class="more-details" id="<%= jarat.JaratID %>">
                            <td>Jegyár: <%= jarat.JegyAr %>
                            </td>
                            <td>vonattípus: <%= jarat.VonatTipus %>
                            </td>
                        </tr>
                        <% }) %>
                </table>
                <% } else { %>
                    <p class="empty">Nincsenek jaratok</p>
                    <% } %>
                        <%- include('partials/footer.ejs') %>
    </body>

</html>