<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { title: 'Járatok' }) %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <form action="/" method="POST" id="kereses-form"
                class="forms bg-light row gx-3 gy-2 align-items-center mt-5 mb-4 pb-3"
                enctype="application/x-www-form-urlencoded">
                <div class="form-group col-auto">
                    <label for="kiindulopont">Kiindulópont:</label>
                    <input type="text" name="kiindulopont" id="kiindulopont" class="form-control">
                </div>
                <div class="form-group col-auto">
                    <label for="celpont">Célpont:</label>
                    <input type="text" name="celpont" id="celpont" class="form-control">
                </div>
                <div class="form-group col-auto">
                    <label for="min_ar">Minimum ár:</label>
                    <input type="number" min="0" name="min_ar" id="min_ar" class="form-control">
                </div>
                <div class="form-group col-auto">
                    <label for="max_ar">Maximum ár:</label>
                    <input type="number" min="0" name="max_ar" id="max_ar" class="form-control">
                </div>
                <div class="form-group col-auto">
                    <label class="form-label" for="napok">Nap:</label>
                    <select name="napok" id="napok" class="form-select" required>
                        <option value="Osszes">Összes</option>
                        <option value="Hetfo">Hétfő</option>
                        <option value="Kedd">Kedd</option>
                        <option value="Szerda">Szerda</option>
                        <option value="Csutortok">Csütörtök</option>
                        <option value="Pentek">Péntek</option>
                        <option value="Szombat">Szombat</option>
                        <option value="Vasarnap">Vasárnap</option>
                    </select>
                </div>
                <div class="form-group col-auto">
                    <label class="form-label" for="vonattipus">Vonat típusa:</label>
                    <select name="vonattipus" id="vonattipus" class="form-select" required>
                        <option value="Osszes">Összes</option>
                        <option value="Gyors">Gyors</option>
                        <option value="Regionalis">Regionális</option>
                        <option value="Expressz">Expressz</option>
                        <option value="Szemely">Személyvonat</option>
                    </select>
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input" type="checkbox" name="atszallas" id="atszallas">
                    <label class="form-check-label" for="atszallas">Átszállásos járatok</label>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Keresés</button>
                </div>
            </form>
            <% if (jaratok.length) { %>
                <table id="jaratok-table" class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Járat ID</th>
                            <th>Honnan</th>
                            <th>Hova</th>
                            <th>Nap</th>
                            <th>Óra</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <% jaratok.forEach((jarat)=> { %>
                            <tr class="base-info" data-id="<%= jarat.JaratID %>">
                                <td>
                                    <%= jarat.JaratID %>
                                </td>
                                <td>
                                    <%= jarat.Honnan %>
                                </td>
                                <td>
                                    <%= jarat.Hova %>
                                </td>
                                <td>
                                    <%= jarat.Nap %>
                                </td>
                                <td>
                                    <%= jarat.Ora %>
                                </td>
                                <td>
                                    <a href="/foglalas/<%= jarat.JaratID%>" id="foglalas-button">Foglalás</a>
                                </td>
                                <% if (typeof roleID !=='undefined' && roleID===1) { %>
                                    <td>
                                        <button class="jarat-torles">Törlés</button>
                                    </td>
                                    <% } %>
                            </tr>
                            <tr class="more-details" id="<%= jarat.JaratID %>">
                                <td>Jegyár: <%= jarat.JegyAr %>
                                </td>
                                <td>vonattípus: <%= jarat.VonatTipus %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    <p class="empty">Nincsenek direkt járatok</p>
                    <% } %>

                        <% if ( typeof atszallasosJaratok !=='undefined' && atszallasosJaratok.length) { %>
                            <h2 class="cim">Átszállásos járatok</h2>
                            <table class="table table-hover" id="atszallas-table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Honnan</th>
                                        <th>1. Megálló</th>
                                        <th>2. Megálló</th>
                                        <th>Hova</th>
                                        <th>Nap</th>
                                        <th>Jegyek ára</th>
                                    </tr>
                                </thead>
                                <tbody class="table-light">
                                    <% atszallasosJaratok.forEach((jarat)=> { %>
                                        <tr>
                                            <td>
                                                <%= jarat.Honnan %>
                                            </td>
                                            <td>
                                                <%= jarat.Megallo %>
                                            </td>
                                            <td>
                                                <%= jarat.Megallo2 %>
                                            </td>
                                            <td>
                                                <%= jarat.Hova %>
                                            </td>
                                            <td>
                                                <%= jarat.Nap %>
                                            </td>
                                            <td>
                                                <%= jarat.JegyekAra %>
                                            </td>
                                            <td>
                                                <a href="/foglalas/<%= jarat.JaratID%>/<%= jarat.JaratID2%>/<%= jarat.JaratID3%>"
                                                    id="foglalas-button">Foglalás</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } %>

                                <%- include('partials/footer.ejs') %>

                                    <script src="/show-details.js"></script>
                                    <script src="/jaratok.js"></script>
    </body>

</html>